#root{
  display: flex;
}

body {
    font-family: 'Nunito', sans-serif;
  }

h1, h2, h3, p {
    font-family: 'Nunito', sans-serif;
  }

h2{
  font-size: 14pt;
}

h3{
  font-size: 11pt;
}

h4{
  font-size: 9pt;
}


.body-container-page {
  flex: 1; 
  background: #eeefef;
  padding: 20px; 
  display: flex;
  flex-direction: column;
  max-height: 100vh; 
  overflow-y: auto; 
}


.classroom-name{
  font-size: 10pt;
  font-weight: 800;
  color: #3e3e3e;
}
