/* Estilo para el contenedor del sidebar */
.sidebar-container {
  display: flex;
  height: 100vh;
  justify-content: flex-start;
}

.sidebar {
  position: fixed;
  z-index: 5000;
  transition: width 0.3s ease;
  background-color: var(--background-sidebar-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 10px;
  border-right: 1.5px solid #dceaff;
  height: 100vh;
}

.sidebar .icon .sidebar-icons{
  width: 1.5em;
}

.sidebar.open {
  width: 250px;
}

.sidebar.closed {
  width: 50px;
}

.toggle-button{
  display: flex;
  gap: 9em;
  margin-top: 1em;
  margin-bottom: 1.6em;
  cursor: pointer;
}

/* Submenú con efecto de expansión */
.submenu {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  opacity: 0;
}

.submenu-item {
  margin-bottom: 10px;
  font-size: 14px;
  color: rgb(81, 81, 81);
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.submenu-item-link  p{
  padding: 5px;
  color: rgb(70, 70, 70);
  text-decoration: none;
  font-size: 11pt;
  margin-bottom: 0.5em;
  margin-left: 20px;
  margin-right: 5px;
  border-radius: 5px;
}

.submenu-item-link p:hover {
  padding: 5px;
  background-color: var(--btn-hover-primary);
  color: white
}

.submenu-item:hover {
  background-color: var(--btn-hover-primary);
}

/* Submenú activo */
.sidebar.open .submenu-active {
  max-height: 200px; /* Ajusta según el contenido del submenú */
  opacity: 1;
}

/* Iconos e interacciones */
.icon-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 14.3em;
  align-items: flex-start;
}

.icon {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: 2px solid rgb(255, 255, 255);
  
  width: 14em;
  height: 3em;
  border-radius: 9px;
  margin-bottom: 0.5em;
  justify-content: flex-start;
  gap: 10px;
}

.icon-collapse{
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  padding-right: 7px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 14.5em;
  border-radius: 9px;
  margin-bottom: 0.5em;
  flex-direction: row-reverse;
}

.icon:hover {
  border: 2px solid var(--btn-hover-primary);
  color: white;
  border-radius: 10px;
}

.icon-text {
  margin-left: 10px;
  font-size: 15px;
  transition: opacity 0.3s ease;
  padding-right: 2em;
}

/* Ocultar texto en estado cerrado */
.sidebar.closed .icon-text {
  display: none;
}

.sidebar-icons-option{
  padding-right: 3px;
  width: 1.5em;
}


